language: node_js
node_js:
- '5'
deploy:
  provider: npm
  skip_cleanup: true
  clean_up: false
  email: serveradmin@octoblu.com
  api_key:
    secure: "DXC0bhtu5SGl81iiybphiY38HWURK7m3wN689ozHlNGRdlmPqsNFfN5KXxyU2OZ2MH/E5sYLMQ9jvHoU1/w5Qar+LSA1O3T4o+bgpXGH92prhj4supOyJgOwOKtTYKahyJqG0FCI3C28WgNch2YY7KKSBGYc8NhirxT7cnJGwts="
  on:
    tags: true
    all_branches: true
