title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      example:
        title: "Example String"
        type: "string"
    required: [
      "example"
    ]
